@import "tailwindcss";
@import "@kadoui/tailwindcss";

:root {
  --background: #efefef;
  --background-thin: #ffffff;
  --background-thick: #D0D0D0;
  --foreground: #151515;
  --foreground-thin: #737373;
  --foreground-thick: #000000;
  --primary: #6998ac;
  --primary-foreground: #ffffff;
  --error: #804242;
  --error-foreground: #ffffff;
  --success: #418240;
  --success-foreground: #ffffff;
  --warning: #FFBD2E;
  --warning-foreground: #ffffff;

  --palette: var(--foreground);
  --brush: var(--background);

  --element-xs-size: calc(var(--spacing) * 6);
  --element-sm-size: calc(var(--spacing) * 8);
  --element-medium-size: calc(var(--spacing) * 10);
  --element-lg-size: calc(var(--spacing) * 12);
  --element-xl-size: calc(var(--spacing) * 14);

  --element-xs-spacing: calc(var(--spacing) * 1);
  --element-sm-spacing: calc(var(--spacing) * 1.5);
  --element-medium-spacing: calc(var(--spacing) * 3);
  --element-lg-spacing: calc(var(--spacing) * 6);
  --element-xl-spacing: calc(var(--spacing) * 9);

  --element-xs-text: var(--text-xs);
  --element-sm-text: var(--text-sm);
  --element-medium-text: var(--text-base);
  --element-lg-text: var(--text-lg);
  --element-xl-text: var(--text-xl);

  --element-xs-leading: var(--tw-leading, var(--text-xs--line-height));
  --element-sm-leading: var(--tw-leading, var(--text-sm--line-height));
  --element-medium-leading: var(--tw-leading, var(--text-base--line-height));
  --element-lg-leading: var(--tw-leading, var(--text-lg--line-height));
  --element-xl-leading: var(--tw-leading, var(--text-xl--line-height));

  --element-xs-rounded: var(--radius-md);
  --element-sm-rounded: var(--radius-lg);
  --element-medium-rounded: var(--radius-xl);
  --element-lg-rounded: var(--radius-2xl);
  --element-xl-rounded: var(--radius-3xl);

  --element-size: var(--element-medium-size);
  --element-spacing: var(--element-medium-spacing);
  --element-text: var(--element-medium-text);
  --element-leading: var(--element-medium-leading);
  --element-rounded: var(--element-medium-rounded);
}

@theme {
  --color-background: var(--background);
  --color-background-thin: var(--background-thin);
  --color-background-thick: var(--background-thick);
  --color-foreground: var(--foreground);
  --color-foreground-thin: var(--foreground-thin);
  --color-foreground-thick: var(--foreground-thick);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-error: var(--error);
  --color-error-foreground: var(--error-foreground);
  --color-success: var(--success);
  --color-success-foreground: var(--success-foreground);
  --color-warning: var(--warning);
  --color-warning-foreground: var(--warning-foreground);

  --color-palette: var(--palette);
  --color-brush: var(--brush);
}

[data-theme="dark"] {
  --background: #151515;
  --background-thin: #303030;
  --background-thick: #000000;
  --foreground: #dfdfdf;
  --foreground-thin: #606060;
  --foreground-thick: #ffffff;
}

@layer base {
  body {
    font-family: sans-serif;
  }

  img {
    @apply pointer-events-none;
  }

  /* TODO: add this to kadoui */
  * {
    font-size: var(--element-text) !important;
    line-height: var(--element-line) !important;
  }
}

@utility wrapper {
  @apply px-6;

  &>.wrapper {
    @apply px-3;
  }
}

/* TODO: add this to kadoui */
/* Typography */

@utility heading {
  @apply element-xl font-black leading-relaxed;
}

@utility title {
  @apply element-lg font-bold leading-relaxed;
}

@utility text-body {
  @apply element-md leading-relaxed;
}

@utility sub-text {
  @apply element-xs;
}

/* Customize */

@utility btn-fill {
  @apply font-bold;
}